<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <dl>
      <dt>Local Time (UTC {{ localTimezone }})</dt>
      <dd>{{ localTime }}</dd>
      <dt>Event Time (UTC {{ eventTimezone }})</dt>
      <dd>{{ eventTime }}</dd>
      <dt>Debug Mode</dt>
      <dd>{{ 'true' if state.debug else 'false' }}</dd>
    </dl>

    <button class="btn btn-default" type="button" onclick="dataStore.extendItem( 'state', { debug: !dataStore.getItem( 'state' ).debug } );location.reload()">Toggle Debug</button>
  </div>
</div>
