<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <img src="/theme/img/logo.png" alt="{{ app.name }}" class="img-responsive">

      <ul class="list-unstyled">
        <li><a href="#schedule" class="btn btn-block btn-default">Schedule</a></li>
        <li><a href="#doc/help" class="btn btn-block btn-default">Survival Guide</a></li>
        <li><a href="#map" class="btn btn-block btn-default">Floor Plan</a></li>
      </ul>
    </div>
  </div>
</div>
