<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{ location.name }}</h2>

    <!-- map selection -->
    <div class="row">
      <div class="dropdown pull-right">
        <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="track-select" data-toggle="dropdown">
          {{ location.name }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {% for locationId, locationListing in location.lookup %}
          <li><a href="#map/{{ locationListing.id }}">{{ locationListing.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- map -->
    <div class="row">
      <div id="currentMap">
        {{ svg }}
      </div>
    </div>
  </div>
</div>
