<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ app.name }} – Server Clock</title>
  <style>
    body {
      font: 16px/1.5 'Open Sans', Arial, Sans-Serif;
    }
    dt {
      font-weight: lighter;
      font-size: 1.4em;
    }
  </style>
</head>
<body>
  <dl>
    <dt>Current server time</dt>
    <dd><time id="time">{{ serverTime }}</time></dd>

    <dt>Next poll to Google</dt>
    <dd><time id="later" data-cron="{{ laterCron }}">{{ laterTime }}</time></dd>
  </dl>

  <script src="/vendor/later/later.min.js"></script>
  <script src="/core/js/serverTime.js"></script>
</body>
</html>
