<div class="row" id="badge-listing">
  <article class="col-sm-8 col-sm-offset-2">
    <img src="/img/badges-icon.png" class="title-icon">
    <h2>Badges</h2>
    <div class="badge-wrapper">
      <ul class="badges">
        <li class="details clearfix" ng-click="showTip(badge.name)" ng-class="{ active : showingTip(badge.name) }" ng-repeat="badge in badges">
          <a class="expander" ng-class="{ active : showingTip(badge.name) }">
            <img class="badge-image img-responsive" src="{{badge.image}}">
          </a>
          <div class="inner">
            <h3 class="badge-name">{{ badge.name }}</h3>
            <section class="description" ng-class="{ active : showingTip(badge.name) }">
              <p>{{badge.description}}</p>
              <p>If you were given a claim code by a facilitator, you're
              ready to claim the badge!</p>
              <button type="button" class="btn btn-primary btn-xs" ng-click="claimPage()">Claim</button>
            </section>
          </div>
        </li>
      </ul>
    </div>
  </article>
</div>
