<div class="row" id="view-getting-around">
  <article class="col-sm-8 col-sm-offset-2">
    <img src="/img/schedule-icon.png" class="title-icon">
    <h2>Friday: Opening Night</h2>
    <div class="tips-wrapper">
      <ul class="events">
        <li class="details">
          <div class="inner">
            <h3>Registration</h3>
            <p class="city-stats">
              <span ng-bind-html="v.location"></span>
              <time>18:00</time>
            </p>
          </div>
        </li>
        <li class="details" ng-click="showTip(1)" ng-class="{ active : showingTip(1) }">
          <a class="expander" ng-class="{ active : showingTip(1) }">
            <span class="more">+</span>
            <span class="less">-</span>
          </a>
          <div class="inner">
            <h3>Opening Science Fair</h3>
            <p class="city-stats">
              <span ng-bind-html="v.location"></span>
              <time>18:30 - 21:00</time>
              <div class="speaker" ng-bind-html="v.speaker"></div>
            </p>
            <section ng-class="{ active : showingTip(1) }">
              <p>Explore demos from nearly 50 projects that celebrate the tech and culture of the web. Meet the participants at #MozFest and discover inspiration for the weekend! Drinks and a lively atmosphere included.</p>

              <h3>6th Floor Science Fair</h3>

              <h4>Journalism</h4>

              <ul>
                <li><a href="http://knightlab.northwestern.edu/">Northwestern University Knight Lab</a>, <a href="http://projects.knightlab.com/">Knight Lab Projects</a></li>
                <li><a href="http://newsHACK.co.uk">BBC News Labs</a>, <a href="http://www.bbc.co.uk/ontologies/storyline/">BBC News Online</a></li>
                <li><a href="http://www.mysociety.org">MySociety</a>, <a href="http://www.mysociety.org/international">MySociety International</a></li>
                <li><a href="http://beta.censusreporter.org/">Census Reporter</a></li>
                <li><a href="http://nypl.org/labs">New York Public Library Labs</a>, <a href="http://buildinginspector.nypl.org">NYPL Labs Building Inspector</a></li>
                <li><a href="http://source.mozillaopennews.org">Open News</a></li>
                <li><a href="http://globalvoicesonline.org">Global Voices</a></li>
              </ul>


              <h4>Build + Teach The Web</h4>

              <ul>
                <li><a href="http://wreckandsalvage.com/">Wreck &amp; Salvage</a></li>
                <li><a href="http://www.finnish-institute.org.uk">Finnish Institute in London</a></li>
                <li><a href="http://www.mx-mx.com">MX-MX</a>, <a href="http:/www.cizzle.org/public">CIZZLE (Collaborative Science Learning Environment)</a></li>
                <li><a href="http://eraseallkittens.com">Erase All Kittens</a></li>
                <li><a href="www.flatironschool.com">The Flatiron School</a></li>
                <li><a href="http://popathon.org">Popathon</a></li>
                <li><a href="http://okfn.org">Open Knowledge Foundation</a>, <a href="http://education.okfn.org">Open Education Working Group</a></li>
                <li><a href="http://webmaker.org/teach">Mozilla Webmaker</a></li>
                <li><a href="http://webmaker.org/teach">Mozilla Webmaker</a></li>
                <li><a href="http://wiki.mozilla.org/StudentAmbassadors">Firefox Student Ambassadors</a></li>
              </ul>


              <h4>Open Games</h4>

              <ul>
                <li><a href="http://candybox2.net">Candy Box 2</a></li>
                <li><a href="ccg.doc.gold.ac.uk">Computational Creativity Group at Goldsmiths College</a>, <a href="www.gamesbyangelina.org">Games by ANGELINA</a></li>
                <li><a href="http://www.gootechnologies.com/">Goo Technologies</a>, <a href="http://www.gooengine.com/">Goo Engine and Goo Create</a></li>
                <li><a href="http://www.unrealengine.com/html5/">Mozilla Gaming</a></li>
              </ul>

              <hr>

              <h3>4th Floor Science Fair</h3>

              <h4>Connect Your City</h4>

              <ul>
                <li><a href="http://freeformers.com/">Freeformers</a></li>
                <li><a href="www.technologywillsaveus.org">TechnologyWillSaveUs</a>, <a href="http://shop.technologywillsaveus.org/collections/frontpage/products/diy-gamer-kit-with-arduino">DIY Gamer Kit</a></li>
                <li><a href="http://vizicities.com">ViziCities</a></li>
                <li><a href="http://www.nesta.org.uk/events/hot_topics">NESTA Hot Topics</a></li>
                <li><a href="mozilla.jp">Make the Web Haptic</a></li>
                <li><a href="http://makethingsdostuff.co.uk">Make Things Do Stuff</a></li>
                <li><a href="http://hivelearningnetwork.org/">Hive Learning Networks</a></li>
                <li><a href="http://www.remixthecity.com/">Remix the City</a></li>

              </ul>


              <h4>Privacy</h4>

              <ul>
                <li><a href="http://disconnect.me">Disconnect</a></li>
                <li><a href="https://immersion.media.mit.edu/">Immersion</a></li>
              </ul>


              <h4>Physical Web</h4>

              <ul>
                <li><a href="http://findplaymake.com">Fieldguide</a></li>
                <li><a href="http://makersacademy.com">MakersAcademy</a></li>
              </ul>


              <h4>Open Badges</h4>

              <ul>
                <li><a href="http://achievery.com">Achievery</a></li>
                <li><a href="http://digitalme.co.uk">DigitalMe</a>, <a href="www.digitalme.co.uk/badgetheuk">Badge the UK</a></li>
                <li><a href="http://weblitstd.tumblr.com/">Webmaker Web Literacy Standard</a></li>
                <li><a href="http://openbadges.org/">Open Badges</a></li>
              </ul>


              <h4>Webmaking for Mobile</h4>

              <ul>
                <li><a href="https://appmaker.mozillalabs.com/">Appmaker</a></li>
                <li><a href="https://www.mozilla.org/en-US/firefox/os/">FirefoxOS</a></li>
                <li><a href="http://vizicities.com">ViziCities</a></li>
              </ul>

              <h4>Science and the Web</h4>

              <ul>
                <li><a href="http://publiclab.org">Public Lab</a>, <a href="http://spectralworkbench.org">Spectral Workbench</a></li>
                <li><a href="http://www.metoffice.gov.uk/conference/mozfest">Hanging with the MET Office</a></li>
                <li><a href="https://wiki.mozilla.org/ScienceLab">Mozilla Science Lab</a></li>
              </ul>
            </section>
          </div>
        </li>
      </ul>
    </div>
  </article>
</div>

