<div class="row" id="view-maps">
	<article class="col-sm-8 col-sm-offset-2">
		<img src="/img/maps-icon.png" class="title-icon">
    	<h2>Floor Plan</h2>
		<select ng-init="level" ng-model="level" name="floor-select" id="floor-select" style="margin: 1em auto; display:block;" class="subview-selector">
			<option value="level-0">Floor 0 / Registration</option>
			<option value="level-1">Floor 1</option>
			<option value="level-2">Floor 2</option>
			<option value="level-4">Floor 4 / The Big Space</option>
			<option value="level-5">Floor 5 / Information</option>
			<option value="level-6">Floor 6</option>
			<option value="level-7">Floor 7</option>
			<option value="level-8">Floor 8</option>
			<option value="level-9">Floor 9</option>
		</select>

		<div class="content">
			<img src="/img/floorplans/{{ level }}.png" alt="{{ level }}" id="floor-plan" class="img-responsive">
		</div>
	</article>
</div>