<div class="row" id="view-maps">
	<article class="col-sm-8 col-sm-offset-2">
		<img src="/img/maps-icon.png" class="title-icon">
    	<h2>Getting Around</h2>
		<select name="floor-select" id="floor-select" style="margin: 1em auto; display:block;">
			<option value="level-0">Ground Floor / Registration</option>
			<option value="level-1">Floor 1</option>
			<option value="level-2">Floor 2</option>
			<option value="level-3">Child Care</option>
			<option value="level-4">Main Space</option>
			<option value="level-5">Information</option>
			<option value="level-6">Floor 6</option>
			<option value="level-7">Floor 7</option>
			<option value="level-8">Floor 8</option>
			<option value="level-9">Floor 9</option>
		</select>

		<div class="content">
			<img src="/img/floorplans/level-0.png" alt="level-0" id="floor-plan" class="img-responsive" style="margin: 1em 0 0 0">
		</div>
	</article>
</div>